<mat-card>
  <mat-card-content>
    <div class="intro-section">
      <div class="intro-section_text">
        <h3>Crie e organize suas notas com facilidade com o NoteKeeper</h3>
        <p>
          Transforme suas ideias em ação. O NoteKeeper é o seu espaço pessoal para anotar
          pensamentos, planejar tarefas e manter tudo sob controle — simples, rápido e acessível de
          qualquer lugar.
        </p>
        <ul>
          <li>✏️ Anote ideias, lembretes e planos em segundos.</li>
          <li>🗂️ Organize por categorias, cores e prioridades.</li>
          <li>🔒 Mantenha tudo seguro, com seus dados sempre protegidos.</li>
        </ul>
      </div>
      <div class="intro-section_image">
        <img class="img" src="/img/inicio_notas.svg" alt="Lorem" />
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="card-grid">
  <div class="card-column">
    <mat-card class="classroom-card">
      <a class="card-hero" routerLink="/categorias" style="--hero-url: url('/img/img_read.jpg')"
        ><h4 class="card-hero_title">Categorias</h4></a
      >
      <mat-card-content />
      <mat-divider />
      <mat-card-actions align="end">
        <a routerLink="/categorias" mat-icon-button matTooltip="Ir para Categorias">
          <mat-icon>arrow_outward</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-column">
    <mat-card class="classroom-card">
      <a class="card-hero" routerLink="/notas" style="--hero-url: url('/img/img_read.jpg')"
        ><h4 class="card-hero_title">Notas</h4></a
      >
      <mat-card-content />
      <mat-divider />
      <mat-card-actions align="end">
        <a routerLink="/notas" mat-icon-button matTooltip="Ir para Notas">
          <mat-icon>arrow_outward</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
