<section class="cadastrar-section">
  <div class="main-content">
    <h2>Cadastro de Categoria</h2>
    <hr />
    <mat-card class="card">
      <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
        <mat-card-header>
          <mat-card-title>Preencha o formulário de cadastro</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Título da Categoria</mat-label>
            <input matInput formControlName="titulo" type="text" />
            @if (formGroup.get('titulo')?.errors?.['minlength']) {
              <mat-error>O título da categoria precisa conter ao menos 3 caracteres.</mat-error>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-stroked-button routerLink="/categorias">Voltar</a>
          <button mat-flat-button class="botao" type="submit" [disabled]="formGroup.invalid">
            <mat-icon>check</mat-icon>
            Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</section>
