<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of itensNavbar; track $index) {
        <a mat-list-item [routerLink]="item.link"
          ><mat-icon matListItemIcon [fontIcon]="item.icone"></mat-icon>{{ item.titulo }}</a
        >
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span> <mat-icon>collections_bookmark</mat-icon>Anota Fácil</span>

      <button
        class="ms-auto"
        style="min-width: 180px"
        mat-raised-button
        [matMenuTriggerFor]="opcoesUsuario"
      >
        <mat-icon>person</mat-icon>
        {{ usuarioAutenticado!.nomeCompleto }}
      </button>
      <mat-menu #opcoesUsuario="matMenu">
        <button mat-menu-item style="min-width: 160px" (click)="logoutRequisitado.emit()">
          <mat-icon>arrow_backwards</mat-icon>
          Logout
        </button>
      </mat-menu>

      <p class="theme-toggle">
        <mat-icon>light_mode</mat-icon>
        <mat-slide-toggle (change)="onThemeChange($event)"></mat-slide-toggle>
        <mat-icon>dark_mode</mat-icon>
      </p>
    </mat-toolbar>
    <div class="conteudo">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
